@import'../../App.scss';

.section{
    display: flex;
    align-items: center;
    flex-direction: column;
    .searchMessage,.showMessage{
        font-size:1.2rem;
        margin-top:0;
        margin-bottom:1rem;
    }
    .list{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        width:90%;
        max-width:66rem; /* Set list max width to allow maximum 4 cards in a row of list */
        margin:auto;
        &>div{
            margin-right:1rem;
            margin-bottom: 2rem;
        }
    }
    .pagination{    /* Set Mui pagination with theme color*/
        button{
            color:$color-text;
            &:hover,&:global(.Mui-selected){
                background-color: $color-theme;
            }
        }
        li{
            border:none;
            div{
                color:$color-text;
            }
        }
    }
}
