.message{
    width:100%;
    height:60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        font-size:1.5rem;
        font-weight: 600;
        width:40rem;
        line-height: 150%;
        text-align: center;
    }
}