.App{
  color:black;
  font-family: Arial, Helvetica, sans-serif;

  .App-header{
    background-color: black;
  }
  .AppSearchSection,.AppMovieSection{
    padding:1rem 0;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .AppSearchSection{
    background-color: black;
  }
  .AppMovieSection{
    background-image: url(./asset/image/welcomeBg.jpg);
    padding-bottom:10vh;
    box-sizing: border-box;
    background-size:cover;
    min-height: 80vh;
    flex-direction: column;
  }
}