.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width:12rem;
    height:25rem;
    border-radius: 10px;
    border:1px solid black;
    overflow: hidden;
    position: relative;
    img{
        width:12rem;
        height: 17.8rem;
    }
    .movieInfo{
        position: absolute;
        bottom:0;
        left:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height:7.2rem;
        width:100%;
        z-index: 1;
        background-color: white;
        transition: height 300ms;
        p{
            margin:0;
            &.title{
                font-weight: 600;
                text-align: center;
                margin-top:10px;
            }
            &.year{
                color:gray;
                margin-top:5px;
            }
        }
        .detailButton{
            width:5rem;
            margin-top:auto;
            margin-bottom:10px;
            padding:5px 10px;
            cursor: pointer;
            color:#b92a26;
            border-radius: 7px;
            border:1px solid #b92a26;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            &:hover {
                background-color: #b92a26;
                box-shadow: 0px 5px 8px rgba(185,42,38, 0.4);
                color: #fff;
                transform: translateY(-5px);
              }
        }
    }
    .movieInfo{
        .tag{
            font-weight: 600;
            margin-bottom: 5px;
        }
        .date,.genre,.director,.rating{
            box-sizing: border-box;
            width:100%;
            margin-top:8px;
            font-size: small;
            padding:0 5px;
        }
        .genreStack{
            flex-wrap: wrap;
            div{
                border-radius: 7px;
                height:20px;
                background-color: #b92a26;
                color:#fff;
                span{
                    font-size: smaller;
                }
                margin-bottom:5px;
                margin-right:5px;
            }
        }
        .imdbRating{
            font-size: medium;
            color:#b92a26;
            font-weight: 600;
        }
    }
    &.isOpen{
        .movieInfo{
            height:20rem;
            overflow-y: scroll;
        }
    }
}