@import'../../App.scss';

.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:12rem;
    height:25rem;
    border-radius: 10px;
    border:1px solid black;
    background-color: #fff;
    color: black;
    overflow: hidden;
    position: relative;
    img{
        width:12rem;
        height: 17.8rem;
    }
    .movieInfo{
        position: absolute;
        bottom:0;
        left:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height:7.2rem;
        width:100%;
        box-sizing: border-box;
        z-index: 1;
        background-color: white;
        transition: height 300ms; /* Add expansion animation for movie info*/
        p{
            margin:0;
            &.title{
                font-weight: 600;
                text-align: center;
                margin-top:10px;
            }
            &.year{
                color:gray;
                margin-top:5px;
            }
        }
        .detailButton{
            width:5rem;
            margin-top:auto;
            margin-bottom:10px;
            padding:5px 10px;
            cursor: pointer;
            color:$color-theme;
            border-radius: 7px;
            border:1px solid $color-theme;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            &:hover {
                background-color: $color-theme;
                box-shadow: 0px 5px 8px rgba(185,42,38, 0.4);
                color: $color-text;
                transform: translateY(-5px);
            }
        }
    }
    .movieInfo{
        padding:0 5px;
        .tag{
            font-weight: 600;
            margin-bottom: 5px;
        }
        .date,.genre,.director,.rating{
            text-align: start;
            box-sizing: border-box;
            width:100%;
            margin-top:8px;
            font-size: small;
        }
        .genreStack{
            flex-wrap: wrap;
            div{
                border-radius: 7px;
                height:20px;
                background-color: $color-theme;
                color:$color-text;
                span{
                    font-size: smaller;
                }
                margin-bottom:5px;
                margin-right:5px;
            }
        }
        .imdbRating{
            font-size: medium;
            color:$color-theme;
            font-weight: 600;
        }
    }
    &.isOpen{
        .movieInfo{
            height:20rem;
            overflow-y: scroll; /* Make movie info scrollable on overflow content */
            /* Remove scroll bar for different browsers */
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            &::-webkit-scrollbar { /* WebKit */
                width: 0;
                height: 0;
            }
        }
    }
}
@media (max-width: 428px){
    .card{
        width:16rem;
        height:31.2rem;
        img{
            width:16rem;
            height: 24rem;
        }
    }
}